name: Check - CI Web

on:
  pull_request:
    paths:
      - 'web/**'
  push:
    branches:
      - main
      - master
    paths:
      - 'web/**'

concurrency:
  group: "web-lint-build-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  lint-and-build:
    name: lint-and-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '23'
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Install dependencies
        run: make setup
        working-directory: web

      - name: Run linter
        run: make lint
        working-directory: web

      - name: Build application
        run: make build
        working-directory: web
